<div class="md:flex md:flex-row md:items-center md:justify-around md:space-x-12">
	<a href="/"><h1 class="text-center text-japan-blue text-5xl font-apple mt-12 md:text-left">Heather Huynh</h1></a>

	<div class="text-center text-xl mt-8 space-x-6 text-japan-blue md:self-end">
			<a class="hover:text-japan-dark hover:underline" href="/about">about</a>
			<a class="hover:text-japan-dark hover:underline" href="/blog">blog</a>
			<a class="hover:text-japan-dark hover:underline" href="/projects">projects</a>
			<a class="hover:text-japan-dark hover:underline" href="/press">press</a>
	</div>
</div>