@tailwind base;
h1 {
	@apply text-2xl text-japan-blue mt-4;
}

h2 {
	@apply text-xl text-japan-blue mt-4;
}

h3 {
	@apply text-lg text-japan-blue mt-4;
}

h4 {
	@apply text-lg text-japan-blue mt-4;
}

h5 {
	@apply text-lg text-japan-blue mt-4;
}

p {
	@apply mt-4 text-japan-dark;
}

pre {
	@apply overflow-scroll mt-4 p-4;
}

a {
	@apply text-japan-blue;
}

@tailwind components;

@font-face {
  font-family: 'Work Sans';
  src: url('../dist/fonts/aleo-latin-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Aleo';
  src: url('../dist/fonts/work-sans-latin-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Homemade Apple';
  src: url('../dist/fonts/homemade-apple-latin-400.woff2') format('woff2');
}

@tailwind utilities;

@responsive {
	@variants after {
		.carousel {
			content: 'flickity';
			display: none;
		}

		.carousel-none {
			content: '';
		}
	}
}