@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Work Sans';
  src: url('../dist/fonts/aleo-latin-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Aleo';
  src: url('../dist/fonts/work-sans-latin-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Homemade Apple';
  src: url('../dist/fonts/homemade-apple-latin-400.woff2') format('woff2');
}

@tailwind utilities;